/*these are base and html helper utility classes need for the web site*/
/*color pallets*/
/*This file include css for the ui components*/
/*color pallets*/
/*color pallets*/
/*this files includes all the basic customizations done based on view port*/
/*This component includes all the styles for header, bare-bones of layout and footer*/
/*color pallets*/
/*color pallets*/
/*this includes all the classes for all icons*/
/*This includes css for home page*/
/*color pallets*/
/*This includes css for order registration page*/
/*color pallets*/
/*color pallets*/
/*the base styles for the web site*/
html {
  height: 100%; }

body {
  background-color: #e5e5e5;
  line-height: 1.375em;
  font-size: 0.8em;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  min-height: 100%; }

p {
  margin: 0px; }

/*styles for heading*/
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.25em; }

h1,
.h1 {
  font-size: 3em; }

h2,
.h2 {
  font-size: 2.25em; }

h3,
.h3 {
  font-size: 1.75em; }

h4,
.h4 {
  font-size: 1.125em; }

.title {
  font-size: 1.17em; }

.sub-title {
  font-size: 1.12em; }

.caption {
  font-size: 0.7em; }

.xx-large {
  font-size: 3em; }

.x-large {
  font-size: 2.25em; }

.large {
  font-size: 1.75em; }

.xx-medium {
  font-size: 1.5em; }

.x-medium {
  font-size: 1.2em; }

.medium {
  font-size: 1em; }

.small {
  font-size: 0.8em; }

.x-small {
  font-size: 0.5em; }

.xx-small {
  font-size: 0.2em; }

/*for colors*/
.color-pallet-black {
  color: #b16d22; }

.color-pallet-gold {
  color: #b26d22; }

.color-pallet-green {
  color: #008290; }

.color-pallet-white {
  color: #ffffff; }

/*for position*/
.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.relative {
  position: relative; }

.show, .block {
  display: block !important; }

.hide {
  display: none !important; }

.inline-block {
  display: inline-block; }

.table {
  display: table; }

/*for text*/
.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.highlight {
  color: #008290; }

.cursive {
  font-family: 'Pacifico', cursive; }

.bold {
  font-weight: 800; }

/*for margin*/
.no-margin {
  margin: 0 !important; }

.default-margin-tp-btm {
  margin-top: 10px;
  margin-bottom: 10px; }

.default-margin-lft-rt {
  margin-left: 10px;
  margin-right: 10px; }

.align-center {
  margin-left: auto;
  margin-right: auto; }

/*for padding*/
.no-padding {
  padding: 0 !important; }

.default-padding-tp-btm {
  padding-top: 10px;
  padding-bottom: 10px; }

.default-padding-lft-rt {
  padding-left: 10px;
  padding-right: 10px; }

/*for list's*/
ul.inline-list,
ul.block-list,
ul.inline-block-list {
  padding: 0; }

ul.inline-list li,
ul.block-list li,
ul.inline-block-list li {
  text-decoration: none; }

ul.inline-list li {
  display: inline; }

ul.block-list li {
  display: block; }

ul.inline-block-list li {
  display: inline-block; }

/*floation*/
.fl {
  float: left; }

.fr {
  float: right; }

.clear {
  clear: both; }

.no-float {
  float: none; }

/*custom rows & cols*/
.box {
  display: flex;
  flex-flow: column;
  height: 100%; }

.row {
  margin: 0;
  padding: 0; }

.fill-height {
  height: 100%;
  min-height: 100%; }

.fill-width {
  width: 100%;
  min-width: 100%; }

.custom-table-row {
  display: table; }
  .custom-table-row [class^="col-"] {
    display: table-cell; }

.custom-flex-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch; }

/*css for forms*/
.form-panel {
  background-color: #ffffff;
  padding: 15px;
  -webkit-box-shadow: 0 0 13px 0 #e5e5e5;
  -moz-box-shadow: 0 0 13px 0 #e5e5e5;
  box-shadow: 0 0 13px 0 #e5e5e5; }
  .form-panel .form-panel-heading {
    color: #008290; }
  .form-panel .form-panel-body .form-control-label {
    color: #008290;
    font-weight: 500; }
  .form-panel .form-panel-body .form-control {
    margin: 5px 0px; }
  .form-panel .form-group {
    margin: 10px 0; }

/*css for buttons*/
.btn.custom-btn-primary {
  background-color: #008290;
  color: #ffffff; }

/*this includes css for header footer and base layout*/
.trvalue-content {
  display: table-cell;
  height: 100%;
  z-index: 10; }

/*main slide nav*/
.main-slide-nav {
  background-color: #262626;
  color: #b26d22;
  left: 0;
  width: 40%; }
  .main-slide-nav a.link {
    color: #b26d22; }
  .main-slide-nav .nav-logo {
    margin-bottom: 80px;
    padding: 15px;
    text-align: center;
    border: solid;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #343434; }
  .main-slide-nav .nav-menu:first-child {
    border: solid;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #343434; }
  .main-slide-nav .nav-menu li {
    padding: 15px;
    text-align: center;
    border: solid;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #343434; }
  .main-slide-nav .terms-conditions {
    bottom: 10px;
    padding: 15px; }
    .main-slide-nav .terms-conditions p {
      word-break: break-all; }

.main-content {
  background-color: #e5e5e5;
  box-shadow: -5px 1px 22px -2px rgba(0, 0, 0, 0.75);
  left: 0;
  margin-left: 0;
  -webkit-transition: left 0.8s;
  /* For Safari 3.1 to 6.0 */
  transition: left 0.8s;
  z-index: 10; }
  .main-content.slide-right {
    left: 40%; }
  .main-content .search-panel {
    background-color: #008290;
    bottom: -20px;
    padding: 8px 10px; }

/*header*/
.main-header {
  background-color: #008290;
  color: #ffffff; }
  .main-header .site-logo {
    top: 10px;
    left: 2px; }

/*this includes css for all the icons*/
.icon.site-icon {
  background: url("../svg/true-value-title.svg");
  background-repeat: no-repeat; }
  .icon.site-icon.normal {
    width: 130px;
    height: 50px; }

.icon.find-reserve-eat {
  background: url("../svg/eat-find-reserve.svg");
  background-repeat: no-repeat; }
  .icon.find-reserve-eat.normal {
    width: 200px;
    height: 200px; }

/*viewport specfic styles for the web site*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* STYLES GO HERE */
  body {
    line-height: 1.25em; } }

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* STYLES GO HERE */ }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* STYLES GO HERE */ }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* STYLES GO HERE */
  body {
    line-height: 1.25em; } }

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* STYLES GO HERE */ }

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* STYLES GO HERE */ }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* STYLES GO HERE */ }

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* STYLES GO HERE */ }

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  /* STYLES GO HERE */ }

/* iPhone 5 (landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* STYLES GO HERE */ }

/* iPhone 5 (portrait)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* STYLES GO HERE */ }

/*includes css for home page*/
.home-content .moto {
  left: 176px;
  margin-top: -70px;
  width: 142px; }

/*include css for order user registration page*/
.order-registration-content .discount-tile {
  padding: 15px 15px 28px 15px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: inset 0 0 63px 3px #008290;
  -moz-box-shadow: inset 0 0 63px 3px #008290;
  box-shadow: inset 0 0 63px 3px #008290; }
