<div class="home-content default-margin-lft-rt" >
    <!-- pageName: <p ng-bind="test"></p> -->
    <section class="form-panel">
        <h3 class="panel-heading">Login</h3>
        <div class="panel-body">
            
            <form>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 form-control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-secondary">Sign in</button>
                    </div>
                </div>
            </form>

        </div>
    </section>
</div>

