<div class="home-content" >
    <!-- pageName: <p ng-bind="test"></p> -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <section class="form-panel default-margin-tp-btm default-padding-tp-btm">
                <h3 class="form-panel-heading no-padding">Login</h3>
                <div class="form-panel-body">
                    
                    <form>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 form-control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 form-control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn custom-btn-primary fr">Sign in</button>
                            </div>
                        </div>
                    </form>
                    <p class="highlight">Haven't registered with us, No problem connect via an active social network</p>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="info-panel default-margin-tp-btm default-padding-tp-btm">
                <span class="icon find-reserve-eat normal inline-block"></span>
                <p class="cursive highlight relative moto">“Our Mission has always been to help you find best Restaurants with best Offers Available”</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
            <div class="search-panel color-pallet-white absolute fill-width text-center small">
                <p> <span class="glyphicon glyphicon-triangle-top"></span> Searching for restaurants <i>click here</i> </p>
            </div>
        </div>
    </div>
</div>

