/*This includes css for home page*/
@import "../variables.scss";

@mixin home() {
    .home-content {
        .moto {
            left: 176px;
            margin-top: -70px;
            width: 142px;
        }
    }
} 