<div class="order-registration-content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <section>
                <h4 class="cursive x-medium highlight default-margin-tp-btm">Your are one steps away from reserving your order..!!</h4>

                <div class="info-panel">
                    <p class="default-margin-tp-btm">Please fill the details and proceed to next step.</p>
                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                        <div class="inline-block discount-tile highlight">
                            <span class="block small bold text-right">Off</span>
                            <p class="text-center x-large clear">50%</p>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
                        <div class="user-info">
                            <ul class="block-list">
                                <li>
                                    <span class="highlight bold">Name: </span>
                                    <span>John Doe</span>
                                </li>
                                <li>
                                    <span class="highlight bold">Address: </span>
                                    <span>435 Anton Blvd, Irvine, CA 92614</span>
                                </li>
                                <li>
                                    <span class="highlight bold">Distance: </span>
                                    <span>1.45 Miles</span>
                                </li>
                                <li>
                                    <span class="highlight bold">Phone: </span>
                                    <span>698-514-5587</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <section class="form-panel default-margin-tp-btm default-padding-tp-btm">
            <div class="form-panel-heading no-padding">
                <h3 class="form-panel-heading no-padding">Registration For:</h3>
            </div>
            <div class="form-panel-body">
                
                <form class="clear">
                    <div class="form-group row">
                        <label for="fName" class="col-sm-2 form-control-label">First Name: </label>
                        <div class="col-sm-10">
                            <label class="bold" id="fName" placeholder="First Name">John</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lName" class="col-sm-2 form-control-label">Last Name: </label>
                        <div class="col-sm-10">
                            <label class="bold" id="lName" placeholder="Last Name">Doe</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 form-control-label">Email: </label>
                        <div class="col-sm-10">
                            <label class="bold" id="email" placeholder="Email ID">John.Doe@test.com</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="reserveFor" class="col-sm-2 form-control-label">Reservation For: </label>
                        <div class="col-sm-10">
                            <label class="bold" id="reserveFor" placeholder="Reservation For">10</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-sm-2 form-control-label">Phone: </label>
                        <div class="col-sm-10">
                            <label class="bold" id="phone" placeholder="Phone Number">571-314-6891</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn custom-btn-primary fr">Confirm</button>
                        </div>
                    </div>
                </form>
            </div>  
        </section>
    </div>
</div>