/*this includes all the classes for all icons*/

@mixin icons() {
    .icon {

        &.site-icon {
            background:url('../svg/true-value-title.svg');
            background-repeat: no-repeat;
            &.small {

            }
            &.normal {
                width: 130px;
                height: 50px;
            }
            &.large {

            }
        }       
        &.find-reserve-eat {
            background:url('../svg/eat-find-reserve.svg');
            background-repeat: no-repeat;
            &.small {

            }
            &.normal {
                width: 200px;
                height: 200px;
            }
            &.large {
                
            }
        }
        &.fb-btn {
            &.small {

            }
            &.normal {

            }
            &.large {
                
            }
        }
        &.tw-btn {
            &.small {

            }
            &.normal {

            }
            &.large {
                
            }
        }
        &.g-plus-btn {
            &.small {

            }
            &.normal {

            }
            &.large {
                
            }
        }
    }
}