/*this includes all the classes for all icons*/

@mixin icons() {
    .icon {
        background: url('/img/sprite.png') no-repeat;
        display: inline-block;

        &.site-icon {
            background-position: -13px -9px;
            width: 21px;
            height: 27px;
        }
        &.find-reserve-eat {
            background-position: -13px -130px;
            width: 265px;
            height: 158px;
        }
        &.fb-btn {

        }
        &.tw-btn {

        }
        &.g-plus-btn {

        }
    }
}