@import "variables.scss";


@mixin border($tp: 1, $rt: 1, $btm: 1, $lft: 1, $clr: $default-green) {
    border: solid;
    border-width: $tp $rt $btm $lft;
    border-style: solid;
    border-color: $clr;
}

@mixin boxShadow($horizotal: 0, $verticle: 0, $blur: 13px, $spread: 0, $clr: $default-grey, $style: null) {
    -webkit-box-shadow: $style $horizotal $verticle $blur $spread $clr;
    -moz-box-shadow: $style $horizotal $verticle $blur $spread $clr;
    box-shadow: $style $horizotal $verticle $blur $spread $clr;
}

@mixin borderRadius ($tp-lft: 5px, $tp-rt: 5px, $btm-rt: 5px, $btm-lft: 5px) {
    border-radius: $tp-lft $tp-rt $btm-rt $btm-lft;
    -moz-border-radius: $tp-lft $tp-rt $btm-rt $btm-lft;
    -webkit-border-radius: $btm-lft;
}