/*This file include css for the ui components*/
@import "variables.scss";
@import "mixin.scss";

@mixin form-panel() {
    .form-panel {
        background-color: $default-white;
        padding: $defult-padding + 5;

        @include boxShadow(); 

        .form-panel-heading {
            color: $main-theme-text-highlight;
        }

        .form-panel-body {
            .form-group {

            }
            .form-control-label {
                color: $main-theme-text-highlight;
                font-weight: 500;
            }
            .form-control {
                margin: 5px 0px;
            }
        }

        .form-group {
            margin: 10px 0;
        }
    }
}


@mixin button() {
    .btn {
        &.custom-btn-primary {
            background-color: $main-theme-background;
            color: $default-white;
        }
    }
}
