/*color pallets*/
$default-white: #ffffff;
$default-grey: #e5e5e5;
$default-green: #008290;
$black-pallet-1: #343434;

$main-theme-background: #008290;
$main-theme-text-highlight: #008290;
$main-theme-seconday-background: #e5e5e5;
$main-theme-nav-color: #262626;
$main-theme-nav-label: #b16d22;
$main-theme-text: #b16d22;

$default-margin: 10px;
